#nav{
   width: 300px;
    background: #3cbda6;
}
.title{
    font-size: 18px;
    font-weight: bold;
    text-indent: 1em;
    line-height: 35px;
    background: red url("images/d.gif") 260px 10px no-repeat ;
}
/*
list-style:
none 去掉原点
circle 空心圆
decimal 数字
*/
ul{
    background: #3cbda6;
}
ul li{
    height: 30px;
    list-style: none;
    text-indent: 1em;
    background-image:url("images/d.gif") ;
    background-repeat: no-repeat;
    background-position:200px 2px ;
}
a{
    text-decoration: none;
    font-size:14px;
    color: #000;
}
a:hover{
    color:yellow;
    text-decoration: underline;
}